body {
    padding: revert;
    margin: revert;
    background-color: revert;
    color: revert;
}
main {
    margin: revert;
    display: revert;
    flex-flow: revert;
    row-gap: revert;
}
main>* {
    flex: revert;
}
main h1,
h2,
h3,
h4,
h5,
h6 {
    margin: revert;
}
div.cover {
    display: revert;

    height: revert;
    position: revert;
    margin: revert;
    padding: revert;
    background-image: revert;
    background-position: revert;
    background-size: revert;
    color: revert;
}
div.cover .profile_photo {
    display: revert;
}
div.cover .title {
    font-size: revert;
    position: revert;
    bottom: revert;
    left: revert;
    display: revert;
}
div.cover span {
    color: revert;
}
div.cover .title>* {
    margin: revert;
}
footer {
    margin-top: revert;
}
card a {
    color: revert;
}
card {
    font-size: revert;
    color: revert;
    background-color: revert;
    display: revert;
    margin: revert;
    height: revert;
    border-radius: revert;
}
card>.card-top {
    overflow: revert;
    width: revert;
    height: revert;
    margin: revert;
    padding-top: revert;
    border-top-left-radius: revert;
    border-top-right-radius:revert;
    object-fit: revert;
}
card>.card-top>img {
    display: revert;
    width: revert;
    height: revert;
    object-fit: revert;
    object-position: revert;
    mask-image: revert;
    -webkit-mask-image: revert;
}
card>.card-top>img.cc1 {
    content: revert;
    background: revert;
    mask-image: revert;
    -webkit-mask-image: revert;
}
card>.card-top>img.cc2 {
    content: revert;
    background: revert;
    mask-image: revert;
    -webkit-mask-image: revert;
}
card>.card-top>img.cc3 {
    content: revert;
    background: revert;
    mask-image: revert;
    -webkit-mask-image: revert;
}
card>.card-top>img.cc4 {
    content: revert;
    background: revert;
    mask-image: revert;
    -webkit-mask-image: revert;
}
card>.card-top>img.cc5 {
    content: revert;
    background: revert;
    mask-image: revert;
    -webkit-mask-image: revert;
}
card>.card-top>img.tus {
    content: revert;
    background-image: revert;
    background-size: revert;
    mask-image: revert;
    -webkit-mask-image: revert;
}

card .card-title {
    padding: revert;
    position: revert;
    top: revert;
    left: revert;
}
card .card-body {
    position: revert;
    top: revert;
    padding: revert;
}