@import url('revert-mobile.css');

/* #region Font/text setup */
/* Import Lato 300, 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 700;
}

/* #endregion */

:root {
    --accent-title-text: #ffd7d7;
    --hyperlink-color: #bb6f6f;
    --card-background: #1c1a1c;
    --card-text-color: #bbbbbb;
}

body {
    padding: 0px;
    margin: 0px;

    background-color: #2f2f2f;
    color: #bbb;
}

main {
    margin: 12px 30px;
    display: flex;
    flex-flow: row wrap;
    row-gap: 0.4vh;
    column-gap: 0.4vw;
    justify-content: space-around;
    align-items: stretch;
}

/* I need to learn SCSS or SASS. */
main h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px -6px;
}

.f2 {
    flex-grow: 2;
}

.fg3 {
    flex-grow: 3;
}

.fs2 {
    flex-shrink: 2;
}


/* #region Cover element */

/*
Apparently, this does not work when I replace div.cover with header, so there's that.
*/
div.cover {
    position: relative;

    margin: 0px 0px 12px 0px;
    padding: 8px;

    background-image: url('../assets/coverPhoto.jpg');
    background-position: top;
    background-size: cover;

    color: whitesmoke;
}

div.cover .profile_photo {
    width: 160px;
    height: 160px;
    margin: auto 0 auto auto;
    display: block;
}

div.cover .title {
    position: absolute;
    bottom: 4px;
    left: 12px;
    display: block;
}

div.cover span {
    color: #ffd7d7;
}

div.cover .title>* {
    margin: 4px auto;
}

/* #endregion */

/* #region Footer */

footer {
    margin-top: 76px;
}

/* #endregion*/

/* #region Card element */
card a {
    color: var(--hyperlink-color);
}

card {
    flex-grow: 1;
    flex-shrink: 1;
    color: var(--card-text-color);
    background-color: var(--card-background);
    margin: auto;
    border-radius: 0.4rem 0.4rem 0.3rem 0.3rem;
}

card>.card-top {
    overflow: hidden;
    height: 8vh;
    margin: 0;
    padding-top: 0%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    object-fit: contain;

}

card>.card-top>img {
    display: block;
    width: 100%;
    height: 8vh;
    object-fit: cover;
    object-position: top;
    mask-image: linear-gradient(to bottom, #000000ff, #00000000);
    -webkit-mask-image: linear-gradient(to bottom, #000000ff, #00000000);
}

card>.card-top>img.card-color-one {
    content: '';
    background: linear-gradient(to bottom, #2f23d2df 5%, #2f23d200);
    mask-image: linear-gradient(to bottom, #2f23d2df 5%, #2f23d200);
    -webkit-mask-image: linear-gradient(to bottom, #2f23d2ff 60%, #2f23d200);
}

card>.card-top>img.card-color-two {
    content: '';
    background: linear-gradient(to bottom, #9f1212df 5%, #9f121200);
    mask-image: linear-gradient(to bottom, #9f1212df 5%, #9f121200);
    -webkit-mask-image: linear-gradient(to bottom, #9f1212ff 60%, #9f121200);
}

card>.card-top>img.card-color-three {
    content: '';
    background: linear-gradient(to bottom, #129f12df 5%, #129f1200);
    mask-image: linear-gradient(to bottom, #129f12df 5%, #129f1200);
    -webkit-mask-image: linear-gradient(to bottom, #129f12ff 60%, #129f1200);
}

card .card-title {
    position: relative;
    top: -3vh;
    left: 0.8rem;
}

card .card-body {
    overflow-wrap: normal;
    position: relative;
    top: -3vh;
    padding: 1rem 1rem 0 1rem;
}

/* #endregion*/