/* Import Lato 300, 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

body {
    padding: 0px;
    margin: 0px;

    background-color: #2f2f2f;
    color: #bbb;
}

main {
    margin: 12px 30px;
}

/* I need to learn SCSS or SASS. */
main h1,h2,h3,h4,h5,h6 {
    margin: 0px -6px;
}

strong {
    font-weight: 700;
}

/*
Apparently, this does not work when I replace div.cover with header, so there's that.
*/
div.cover {
    position: relative;

    margin: 0px 0px 12px 0px;
    padding: 8px;

    background-image: url('../assets/coverPhoto.jpg');
    background-position: top;
    background-size: cover;

    color: whitesmoke;
}

div.cover .profile_photo {
    margin: auto 0 auto auto;
    display: block;
}
div.cover .title {
    position: absolute;
    bottom: 4px;
    left: 12px;
    display: block;
}
div.cover span {
    color: #ffd7d7;
}
div.cover .title > * {
    margin: 4px auto;
}