/* Device-specific things */

@import url('./mobile.css') (any-pointer: coarse);
@import url('./desktop.css') (any-pointer: fine);

/* Vertical seperator */
vert-sep {
    display: inline-block;
    width: 0px;
    height: 18px;
    margin: 12px 0 0 6px;
    outline: #7b7b7b solid 1px;
    bottom: 0;
}

/* #region Font/text setup */
/* Import Lato 300, 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 700;
}

/* #endregion */
/* Theming variables */
:root {
    --accent-title-text: #ffd7d7;
    --hyperlink-color: #bb6f6f;
    --card-background: #1c1a1c;
    --card-background-transparent: #1c1a1c00;
    --card-text-color: #bbbbbb;
}

body {
    padding: 0px;
    margin: 0px;

    background-color: #2f2f2f;
    color: #bbb;
}

.nav > *{
    color: white;
}